
/*====================================================*/
/* ============== GLOBAL CSS START ==============*/
/*===================================================*/
:root{
    --main-color:#FABE4C;
    --primary-color:#363958;
    --secondary-color:#3E3E3E;
    --nav-anchor-color:#3C3C3C;
    --main-background-color:#FFFBF0;
    --btn-background-color:linear-gradient(to right,#56ab2f,#a8e063);
    --item-background-color:#F1F1F1;
}
body{
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%!important;
}
/*====================================================*/
/* ============== HEADER PART CSS ====================*/
/*===================================================*/

.custom-nav{
    background:var(--main-background-color);
    padding: 15px 0px;
    
}
.navbar-light .navbar-nav .nav-link{
    color:var(--nav-anchor-color);
    font-size: 16px;
    font-weight: 700;
    padding-right: 40px;
    transition: all .3s;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: var(--main-color);
}
/*====================================================*/
/* ============== BANNER PART CSS ====================*/
/*===================================================*/
.banner-part{
    padding-bottom:100px;
    background: var(--main-background-color);
   
}
.banner-content{
    margin-top: 150px;
}
.banner-content h1{
    color: var(--main-color);
    font-family: 'Bebas Neue', cursive;
    font-size: 52px;
    text-transform: uppercase;

}
.banner-content h1 span{
    color:var(--primary-color);
}
.banner-content p{
    font-size: 16px;
    color: var(--secondary-color);
}
.theme-btn a{
    font-size: 16px;
    font-weight: 500;
    color: #fff!important;
    padding: 12px 25px;
    background: var(--btn-background-color);
    border-radius: 4px;
    display: inline-block;
    border:2px solid transparent;
    transition: all .3s;
}
.theme-btn a:hover{
    color: var(--primary-color)!important;
    background: transparent;
    border-color: #56ab2f;
}
.theme-btn i{
    padding-right: 10px;
}
.banner-img{
  max-width: 100%;
  width: 500px;
}

/*====================================================*/
/* ============== JACKET PART CSS ====================*/
/*===================================================*/
.jacket-part{
    padding-top: 60px;
    padding-bottom: 60px;
}
.items-title{
    font-size: 48px;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 30px;
}
.jacket-img{
    padding: 20px 10px;
    background: var(--item-background-color);
    border-radius: 10px;
    margin-bottom: 20px;
   
    
}

.jacket{
    padding: 20px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;
}
.jacket h3{
    font-size: 30px;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 10px;
}
.jacket{
    font-size: 16px;
    color:var(--secondary-color);
}
.shoping h4{
    color:var(--main-color);
    font-size: 28px;
    font-weight: 700;
}
/*====================================================*/
/* ============== SERVICES PART CSS ====================*/
/*===================================================*/
.services-part{
    padding-top: 100px;
    padding-bottom: 100px;
    background: var(--item-background-color);
}
.icon-img{
    width: 100px;
}
.icon-box{
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;
    margin-bottom: 20px;
    
}
.icon-box:hover .icon-content h4{
    color:var(--main-color);
   
}
.icon-content{
    margin-left: 30px;
   
}
.icon-content h4{
    text-transform: capitalize;
    font-size: 22px;
    color: var(--primary-color);
    transition: all .3s;
}
.icon-content h4{
    text-transform: capitalize;
    font-size: 22px;
    color: var(--secondary-color)
}
.services-img{
    margin-left: 40px;
}

/*====================================================*/
/* ============== CONTACT PART CSS ====================*/
/*===================================================*/
.contact-part{
    padding-top: 100px;
    padding-bottom: 100px;
}
.input-box{
    color:#fff!important;
    display: block;
    margin-bottom: 30px;
    background: var(--primary-color);
    width: 90%;
    padding: 20px;
    border:none;
    border-radius: 4px;
}
.textarea-box{
    color:#fff!important;
    display: block;
    background: var(--primary-color);
    width: 90%;
    padding: 20px;
    border:none;
    height: 200px;
    border-radius: 4px;
    margin-bottom: 30px;
}
.textarea-box:focus{
    box-shadow: none;
    background: var(--primary-color);
}
/*====================================================*/
/* ============== FOOTER PART CSS ====================*/
/*===================================================*/
footer{
    background: var(--primary-color);
}
.footer-content p{
    color: #fff;
    font-size: 16px;
    padding: 15px 0px;
    text-align: center;
    margin-bottom: 0!important;
    
}
.footer-content p span a{
    padding-left: 5px;
    color: var(--main-color);
    transition: all .3s;
}
.footer-content p span a:hover{
    color: #dedede
}
/*====================================================*/
/* ============== MEDIA QUERY CSS ====================*/
/*===================================================*/
@media screen and (max-width:575px){
    .banner-content{
        margin-top: 0;
    }
    .banner-img{
        margin-top: 30px;
    }
    .jacket{
        text-align: center;
        margin-bottom: 20px;
    }
    .jacket h3{
        font-size: 26px;
    }
    .icon-box{
        padding: 10px;
        text-align: center;
    }
    .icon-content{
        margin-left: 0;
    }
    .icon-img{
        width: 70px;
        margin-bottom: 10px;
    }
    .services-img{
        margin-left: 0;
        margin-top: 20px;
    }
    .input-box,.textarea-box{
        width: 100%;
    }
    .contact-img{
        margin-top: 30px;
    }
}

@media screen and (max-width:768px){
    .banner-content{
        margin-top: 0;
    }
    .banner-img{
        margin-top:30px;
    }
    .jacket{
        margin-bottom: 20px;
    }
    .services-img{
        margin-left: 0;
        margin-top: 20px;
    }
    .input-box,.textarea-box{
        width: 100%;
    }
    .contact-img{
        margin-top: 30px;
    }
}
@media screen and (max-width:992px){
    .banner-content{
        margin-top: 20px;
    }
    .banner-img{
        margin-top:30px;
    }
    .jacket{
        margin-bottom: 20px;
    }
    .services-img{
        margin-left: 0;
        margin-top: 20px;
    }
    .input-box,.textarea-box{
        width: 100%;
    }
}